# IDE settings
.idea/
.vscode/

# Chroma database
chroma_books/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*~

